/* src/components/ProductCard/ProductCard.css */
.product-card {
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 1px solid transparent;
    overflow: hidden;
}

.product-card:hover {
    transform: scale(1.05);
    border: 1px solid #ddd;
}

.product-card img {
    width: 200px;
    height: 200px;
}

.product-info {
    padding: 10px;
    text-align: center;
}

.product-info h3 {
    font-size: 1.2rem;
}

.product-info p {
    font-size: 1rem;
}
